

Nós

   1: IP = 127.0.0.1, Porta = 9992;

   2: IP = 127.0.0.1, Porta = 9991;

   3: IP = 10.0.0.3, Porta = 5000;

   4: IP = 10.0.0.4, Porta = 5000;

Enlaces

   1 -> 2, MTU = 50;

   2 -> 3, MTU = 30;

   2 -> 4, MTU = 20;

   3 -> 4, MTU = 2;

Fim 
